// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #7FFB50;
$gray: #0E0000;
$light-gray: #E0E0E0;
$black: #212121;
$white: #FFFFFF;
