.myshow-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-review {
  background-color: #171717;
  border-radius: 4px;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
}

.card-box {
    height: 421px;
    background-color: #171717;
    border: 2px solid #171717;
    border-radius: 4px;
    margin-right: 14px;
    width: 18vw;
    margin: 0 8px 16px 8px;;


  &:hover {
    border: 2px solid #7FFB50;
  }

  transition: border 0.2s;
}

#myshow-image > img {
  display: flex;
  max-height: 267px;
  margin: 14px auto;
  filter: brightness(100%);
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}


.danger-btn {
  transform: rotate(45deg);
  font-size: 32px;
  color: rgb(112, 112, 112);
  opacity: 0.75;
  margin-right: 4px;
  line-height: 75%;
}

.danger-btn:hover {
  text-decoration: none;
  color: #fb5050;
}

.card-title {
  text-transform: uppercase;
}

.title-delete {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.airing-date-text {
  font-size: 16px;
  line-height: 50%;
  margin: 2px 0;
}
