.myshow-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-box {
    height: 430px;
    background-color: #171717;
    border: 2px solid #171717;
    border-radius: 4px;
    margin-right: 14px;
    width: 18vw;
    margin: 8px 8px 16px 8px;
    transition: ease-in-out 0.25s;


  &:hover {
    border: 2px solid $green;
  }

  transition: border 0.2s;
}

.myaccount-image {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  filter: brightness(50%);
  color: white;
}

#myshow-image > img {
  display: flex;
  max-height: 267px;
  margin: 14px auto;
  filter: brightness(100%);
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

#noprogress {
  color: rgb(112, 112, 112);
}

.danger-btn {
  transform: rotate(45deg);
  font-size: 32px;
  color: rgb(112, 112, 112);
  opacity: 0.75;
  margin-right: 4px;
  line-height: 75%;
  transition: ease-in-out 0.25s;
}

.danger-btn:hover {
  text-decoration: none;
  color: #fb5050;
}

.card-title {
  text-transform: uppercase;
  transition: ease-in-out 0.25s;

    &:hover {
      color: $green;
    }
}

.title-delete {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.airing-date-text {
  font-size: 16px;
  line-height: 50%;
  margin: 2px 0;
}

.season-episode p {
  font-size: 14px;
}
