.neon {
  font-family: 'Marquee Moon';
  font-size: 12vw;
  position: absolute;
  top: 17.5%;
  left: 30%;
  right: 30%;
  transform: translate(-50%, -50%);
  transform: rotate(-4deg);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #dbffce,
  2px 0px 4px #dbffce,
  3px 0px 4px #dbffce,
  2px 0px 3px #7FFB50,
  2px 3px 15px #7FFB50,
  2px 0px 15px,
  5px 0px 125px,
  20px 0vw 200px #7FFB50,
  40px 0vw 200px #7FFB50;
  color: #a6fd87;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    //text-shadow: none;
    opacity: .99;

  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.quote {
  position: absolute;
  max-width: 70vw;
  height: 83px;
  left: 20%;
  right: 20%;
  top: 434px;
  color: white;
  text-align: center;

  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  line-height: 78px;
  text-transform: uppercase;
}
