.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
}

.neon {
  font-family: 'Train One', cursive;
  font-size: 8vw;
  letter-spacing: 0.0em;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 1px 0px 4px #dbffce,
  2px 0px 4px #dbffce,
  3px 0px 4px #dbffce,
  2px 0px 3px #7FFB50,
  2px 3px 15px #7FFB50,
  2px 0px 15px,
  5px 0px 125px,
  20px 0vw 200px #7FFB50,
  40px 0vw 200px #7FFB50;
  color: #a6fd87;
}

#neon-big-logo {
  padding-bottom: 100px;
}

#neon-big-logo:hover {
  text-decoration: none;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    //text-shadow: none;
    opacity: .99;

  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.quote {
  max-width: 70vw;
  height: 83px;
  color: white;
  text-align: center;

  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 3.25vw;
  line-height: 78px;
  text-transform: uppercase;
  margin: 0 auto;
}

#landing-searchbar {
  margin: 50px 0;

}

.fa-search:before {
  color: rgb(112, 112, 112);
}
.signup-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  text-transform: uppercase;
  font-weight: 700;
  width: 10vw;

  border-radius: 4px;
  color: white;
  transition: transform .4s;
  border: 1px solid white;
  opacity: 0.6;
}

.signup-btn:hover {
  color: white;
  text-decoration: none;
  // transform: scale(1.025);
  opacity: 1;
  background-color: none;
}

.toprated-body {
  margin: 20px 0;
}

.top-rated-title {
  color: $white;
  padding: 60px 20px;
  font-size: 48px;
}

.hover-3-rating {
  font-size: 48px;
}

.hover-3-rating p:hover {
  font-size: 48px;
  text-decoration: none;
}

.show-image {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  filter: brightness(50%);
  color: white;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 60vh;
  width: 25vw;
}

.show-img {
  filter: brightness(80%);
  &:hover {
    filter: brightness(100%);
  }
  object-fit: cover;
  width: auto;
  height: 100%;
}

.show-image:hover {
  filter: brightness(100%);
}

.show-info {
  padding: 0 auto;
}

.card {
  background-color: transparent;
}

.show-card {
  height: 100%;
  border: 3px solid rgb(61, 66, 72);
  border-radius: 5px;
  &:hover {
    border: 3px solid $green;
  }
  transition: border 0.2s;
}

.card-img {
  border-radius: 4px;
}
