.search-result {
  margin: 25px;
  position: relative;
}

#search-show {
  display: flex;
  flex-direction: column;
  width: 100
}

img {
  height: 40vh;
}

.search-link {
  text-decoration: none;
  color: $white;
  &:hover {
    text-decoration: none;
    color: $green;
  }
}

.search-img {
  object-fit: cover;
  width: 15vw;
}

.streaming-link {
  display: block;
}

// .card .streaming-link::after {
//   display: block;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
