#search-show {
  display: flex;
  flex-direction: column;
  width: 100;
}

.search-result {
  margin: 16px 8px;
  background-color: #171717;
  padding: 10px;
  border: 2px solid #171717;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  transition: ease-in-out 0.25s;

  &:hover {
    border: 2px solid #7FFB50;
  }

  transition: border 0.2s;
}

.search-link {
  text-decoration: none;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.search-img img {
  display: flex;
  max-height: 267px;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  align-content: center;
}

#cardbody-searchpage {
  margin: auto 0;
}

#search-seasons-number {
  font-size: 14px;
  margin-top: 8px;
}

#search-seasons {
  text-transform: uppercase;
  font-weight: 600;
}

.search-streaming-info {
  line-height: 50%;
}

.episode-date {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.streaming-link-searchpage {
  display: flex;
  align-items: baseline;
  padding-top: 4px;

  img {
    margin-right: 8px;
  }
}

#streaming-links {
  display: flex;
}

.rating-searchpage {
  color: #7FFB50;
}

.card-text {
  font-size: 14px;

}

.search-summary {
  width: 37.5vw;
  display: flex;

  p {
    font-size: 16px;
    justify-self: center;
    align-self: center;
    line-height: 200%;
  }
}
