@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

.season-title {
//   color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
//   font-size: 3.25vw;
//   margin: 20px 0;
}

#back-btn {
  text-decoration: none;
  z-index: 0;

  &:hover {
    z-index: 0;
  }
}

#episode-title {
  margin-right: 12px;
}

.episode-container {
  border-radius: 4px;
  color: white;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  padding: 28px;
  margin-bottom: 14px;
}

.episode-heading {
  font-size: 20px;
}

#episode-name {
  text-transform: uppercase;
}

#episodeinfo > p {
  width: 50vw;
}

#episodeinfo {
  font-size: 14px;
  justify-self: center;
  align-self: center;
  line-height: 200%;
}

.item {
  position: sticky;
}

.progress {
  top: 4.2rem;
  z-index: 10;
}

.box {
    width: 300px;
    margin: 25px 0;
    display: flex;
    align-items: center;
    user-select: none;

    label {
        font-size: 26px;
        color: #4D4D4D;
        position: absolute;
        // z-index: 10;
        padding-left: 50px;
        cursor: pointer;
    }

    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &:checked {

            ~ .check {
                border-color: $green;
                box-shadow: 0px 0px 0px 15px $green inset;

                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .check {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 100px;
        background-color: #FFF;
        border: 2px solid $green;
        box-shadow: 0px 0px 0px 0px $green inset;
        transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 4;
            position: absolute;
            transform: scale(0);
            background-size: 50%;
            background-image: url('https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg');
            background-repeat: no-repeat;
            background-position: center;
            transition-delay: 0.2s !important;
            transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
        }
    }
}

p#episodeinfo {
  font-size: 16px;
  width: 160em;
}
