.show-header {
  margin: 50px auto;
}

.show-page-box {
  margin: 14px 0;
}

.showname {
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  text-transform: uppercase;
}

.show-summary {
  font-size: 16px;
  margin: 0;
}

.hover-3-rating {
  font-size: 28px;
  text-align: center;
  color: rgb(0, 255, 134);
  margin-bottom: 0;
}

.streaming-logos {
  width: 50px;
  border-radius: 10px;
}

#streaming-links {
  text-align: center;
  list-style: none;
  padding: 0;
}

#streaming-links li {
  display: inline;
}

#seasons {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

.wheretowatch a {
  color: white;
  font-size: 18px;
}

.wheretowatch a:hover {
  text-decoration: none;
  color: #7ffb50;
}

.addshow-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 14px 37px;
  text-transform: uppercase;
  font-weight: 700;
  width: 16vw;

  border-radius: 4px;
  color: white;
  transition: transform 0.4s;
  border: 1px solid white;
}

#addreview {
  height: 51px;
  }

.form-group {
  margin-bottom: 0;
}

.addshow-btn:hover {
  color: #7ffb50;
  border-color: #7ffb50;
  text-decoration: none;
  // transform: scale(1.025);
  opacity: 1;
}

.seasons-details-box {
  background-color: #171717;
  padding: 28px;
  margin-bottom: 14px;
  border-radius: 4px;
}

.details-season {
  text-transform: uppercase;
  font-weight: 700;
}

#details-btn {
  font-size: 12px;
  padding: 14px 84px;
  width: 8vw;
  margin-left: 8px;
}

.summary-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#summary {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#poster {
  border-radius: 6px;
}

.addshow-btn.bg-transparent {
  margin-left: 15px;
}

.show-details {
  margin-left: 18vw;
}
