<% if @notifications.present? %>
  <% airing_today = @notifications.select do |notification| %>
  <%  notification.episode.airing_date == DateTime.now && notification.read_at == nil %>
  <% end %>

  <% airing_today.each do |notification| %>
    <a class="dropdown-item" href="#">A new episode of <%= notification.episode.show.name %> is out today!</a>
  <% end %>
<% end %>
