<% if current_user.notifications.present? %>
  <% airing_today = current_user.notifications.select do |notification| %>
  <%  notification.episode.airing_date == Date.today && notification.read_at == nil %>
  <% end %>

  <% airing_today.each do |notification| %>
    <a class="dropdown-item" href="#">A new episode of <%= notification.episode.show.name %> is out today!</a>
  <% end %>
<% end %>
