<div class="row">
  <div class="col-12 col-sm-6">
   <h1>Hello</h1>
    <h3>Reviews</h3>
      <% @reviews.each do |review| %>
        <div>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.content %></p>
        </div>
      <% end %>
  </div>
</div>
