<% @followed_shows.each do |show| %>
  <a href="<%= show_path(show)%>">
    <p><%= show.show.name %></p>
    <% @my_progresses.each do |progress| %>
      <p>
        Season <%= progress.episode.season_number %>
        Episode <%= progress.episode.episode_number %>
      </p>
    <% end %>
  </a>
<% end %>

<div class="card-deck show-cards">
  <div class="card bg-dark">
    <img class="card-img-top" src="https://variety.com/wp-content/uploads/2021/07/Succession-HBO-01.jpg?w=681&h=383&crop=1" alt="">
    <div class="card-body">
      <p class="card-title">Succession</p>
      <p class="card-text">Season 2 Episode 6</p>
    </div>
  </div>

  <div class="card bg-dark">
    <img class="card-img-top" src="https://variety.com/wp-content/uploads/2021/07/Succession-HBO-01.jpg?w=681&h=383&crop=1" alt="">
    <div class="card-body">
      <p class="card-title">New Girl</p>
      <p class="card-text">Season 5 Episode 2</p>
    </div>
  </div>

  <div class="card bg-dark">
    <img class="card-img-top" src="https://variety.com/wp-content/uploads/2021/07/Succession-HBO-01.jpg?w=681&h=383&crop=1" alt="">
    <div class="card-body">
      <p class="card-title">Great British Bake Off</p>
      <p class="card-text">Season 10 Episode 7</p>
    </div>
  </div>
</div>
