<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <div class="carousel-image d-block" style="background-image: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), #030303, #030303), url(<%= image_path "squid.png" %>) "></div>
    </div>
    <div class="carousel-item" data-interval="10000">
      <div class="carousel-image d-block" style="background-image: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), #030303, #030303), url(<%= image_path "witcher.jpg" %>) "></div>
    </div>
    <div class="carousel-item" data-interval="10000">
      <div class="carousel-image d-block" style="background-image: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3), #030303, #030303), url(<%= image_path "true_story.webp" %>) "></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
    <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span> %>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
    <%# <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span> %>
  </button>
</div>
