<%= javascript_pack_tag 'style_navbar', 'data-turbolinks-track': 'reload', defer: true %>
<div>
  <div class="grid-container">
    <div class="carousel-container"><%= render :partial => 'carousel' %></div>
    <div class="signup-container">
      <a href="#top-rated" id="neon-big-logo">
        <h1 class="neon" data-text="U">TE<span class="flicker-fast">L</span><span class="flicker-slow">E</span>WI<span class="flicker-fast">S</span>E</h1>
      </a>
      <h2 class="quote">Never miss an episode again</h2>
      <% if !current_user %>
      <div class="d-flex justify-content-center align-items-center pt-3 pb-5">
        <a class="signup-btn m-0" href="users/sign_up">Sign Up</a>
      </div>
      <% end %>
    </div>
  </div>

  <h2 class="text-center top-rated-title">TOP RATED SHOWS</h2>

  <div class="container">
    <div class="row">
      <% @shows.each do |show| %>
        <div class="col-2 mb-4 p-1">
          <a href="<%= show_path(show) %>">
            <div class="card h-100 show-card">
              <%= image_tag "#{show.name.gsub(/\s+/, "")}.jpg", class: 'card-img', class: 'show-img' %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
