<div class="landingpage">
  <h1 class="neon" data-text="U">TE<span class="flicker-fast">L</span><span class="flicker-slow">E</span>WI<span class="flicker-fast">S</span>E</h1>
  <h2 class="quote">Never miss an episode again</h2>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>

  <a class="signup-btn" href="#">Sign Up</a>
</div>

<div class="container">
  <h2 class="text-center top-rated-title">TOP RATED TV-SHOWS</h2>

  <div class="row justify-content-center">
    <% @shows.each do |show| %>
      <a href="<%= show_path(show) %>" class="homepage-card-link card bg-dark w-75">
        <div class="col-sm-6">
          <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"> <%= show.name.upcase %> </h3>
          <p class="hover-3-rating small text-uppercase mb-0"> <%= 'â­' * (show.rating.round / 2) %> </p>
          <%# EBI star ratings show decimals %>
        </div>
      </a>
    <% end %>
  </div>
</div>
