<% if current_user %>
  <% if current_user.followed_shows.where(show_id: @show.id).empty? %>
    <%= simple_form_for([@user, @followed_show]) do |f| %>
      <%= f.input :show_id, :as => :hidden, :input_html => { :value => @show.id } %>
      <%= f.submit 'Add to my shows', class: "addshow-btn bg-transparent ", id: "test" %>
    <% end %>
  <% end %>
<% else %>
  <p><%= link_to 'Add to my shows', new_user_registration_path, class: "addshow-btn" %></p>
<% end %>
