<div class="container">
  <div id="search-result" class="row">
    <% @shows.each do |show| %>
      <div class="search-show col-2 mb-4 p-1">
        <a href="<%= show_path(show) %>">
          <div class="card">
            <%= image_tag("#{show.name.gsub(/\s+/, "")}.jpg") %>
            <h3><span><%= show.name %></span></h3>
            <p><%= sanitize show.summary %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>


<%# <script src="jquery.js"></script>
<script src="typeahead.bundle.js"></script>
<script>
  var shows = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/shows/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#query').typeahead(null, {
    source: shows
  });
</script> %>
